body {
    font-family: "Arial";
}

hr {
    width: 600px;
    margin-left: 0;
}

.results, .ui {
display: flex;
    flex-flow: row wrap;
}

.card, .area {
    width: 300px;
    height: 200px;
}

#card-1 {
    background-color: aquamarine;
}

#card-2 {
    background-color: aqua;
}